.footer {
    border-radius: .5rem;
    padding: 5rem;
    background-color: var(--hover-bg-blue);
    color: var(--primary-bg-white);
    margin-inline: 3rem;
    margin-block-end: 1rem;

    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex: 1 0 0;

    .footer_about {
        flex-direction: column;
        display: flex;
        gap: 1rem;
        flex: 4;

        .footer_header {
            display: flex;
            align-items: center;
            gap: .5rem;

            .footer_icon {
                font-size: 1.5rem;
            }

            .footer_title>span {
                font-weight: 100;
            }
        }

        .text {
            line-height: 2;
        }

        .icons {
            display: flex;
            gap: 2rem;
            font-size: 1.5rem;
            transition: all 500ms ease;

            .icon:hover {
                text-shadow: 0 0 10px white;
                color: var(--tertiary-clr-black);
                transform: translateY(-10px);
                transition: all 200ms ease;
            }
        }
    }

    .footer_links {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
        font-size: 1rem;
        flex: 8;

        .links_column {
            display: flex;
            width: 10rem;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.75rem;

            flex: 1;

            .links_header {

                font-size: 1rem;
                font-weight: 600;
                line-height: 1.5rem;
            }

            .link {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.75rem;

                font-weight: 200;
                line-height: 1.5rem;
                transition: all 500ms ease;
            }

            .link:hover {
                transform: translateX(10px);
                text-shadow: 0 0 10px white;
                color: var(--tertiary-clr-black);
                transition: all 200ms ease;
            }
        }
    }
}

@media screen and (max-width: 787px) {

    .footer {
        margin-inline: 1rem;
        padding: 2rem;
        flex-direction: column !important;
    }

    .footer_about .icons{
        padding-block-start: 1rem;
        align-self: center;
    }

    .footer_links {
        flex-wrap: wrap;
        width: 100%;
        margin-block: 1rem;
        gap: 1rem !important;

        .links_column {
            width: 24% !important;
        }
    }



}