.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  .hero-img {
    background: url("../../Assets/images/HeroImages/hero-1.jpg");
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    filter: grayscale(90%) brightness(0.5);
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: var(--secondary-color);
    padding-inline: 6.25rem;
    position: absolute;
    z-index: 2;
    font-weight: 100;
    filter: brightness(0.9);

    h1 {
      font-size: 6rem !important;
      font-weight: 100;
    }
  }
}
