.hero {
    height: 50dvh;
    width: 100%;
    position: relative;
}

.hero_title {
    position: absolute;
    top: 10dvh;
    align-items: center;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    z-index: 800;
    padding: 2rem;

    >.title {
        font-size: 3rem;
        text-align: center;

        >.job {
            flex: 1;
            color: var(--secondary-clr-midblue);

            >span {
                font-weight: 100;
            }
        }

        >span.subtitle{
            font-weight: 100 !important;
            font-variant-caps: small-caps;
        }
    }

    .text {
        line-height: 2;
        font-size: 1.2rem;

        >.job {
            flex: 1;
            color: var(--secondary-clr-midblue);
            font-weight: 900;

            >span {
                font-weight: 100;
            }
        }
    }
}

.hero_image {
    margin-inline: 0rem;
    background: linear-gradient(from center, black, transparent) !important;

    >img {
        height: 50dvh;
        filter: blur(5px);
        filter: brightness(50%);
        border-radius: .25rem;
    }
}


@media screen and (max-width: 767px) {

    .hero_title {
        display: flex !important;
        flex-direction: column !important;

        >.title {
            margin-block-end: 2rem !important;
        }

        >.text{
            text-align: center;
        }
    }

    .hero_image>img {
        height: calc(100dvh - 50px);
    }
}