@keyframes up_down {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.hero {
    height: 100dvh;
    width: 100%;
    margin-block-end: 1rem;

    .hero_content {
        display: flex;
        align-items: center;
        margin-inline: 0rem;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://images.pexels.com/photos/392018/pexels-photo-392018.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        background-size: cover;
        background-position: center;
        position: inherit;
        border-radius: .5rem;
        padding: 6rem;
        height: 70dvh;
        margin-block-end: 1rem;
    }
}

@keyframes up_down {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.hero_title {
    align-items: center;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    z-index: 800;
    padding: 2rem;

    >.hero_header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;

        >.title {
            font-size: 3rem;
            text-align: center;

            >.job {
                flex: 1;
                color: var(--secondary-clr-midblue);

                >span {
                    font-weight: 200;
                }
            }

            >span.subtitle {
                font-weight: 100 !important;
                font-variant-caps: small-caps;
                font-weight: 300 !important;
            }
        }



        >.icons {
            display: flex;
            flex-direction: column;
            gap: .25rem;


            >.icon {
                font-size: 2rem;
                color: white;
                font-weight: 100 !important;
                animation: up_down 2s ease infinite;
            }

            >.arrow_down {
                font-size: 2rem;
            }
        }


    }

    .text {
        line-height: 2;
        font-size: 1.2rem;
        padding-inline-start: 6rem;
        padding-inline-end: 0rem;
        text-align: right;

        >.job {
            flex: 1;
            color: var(--secondary-clr-midblue);
            font-weight: 900;

            >span {
                font-weight: 300;
            }
        }
    }
}

@media screen and (max-width: 767px) {

    .hero_content{
        padding: 0 !important;
        padding-block: 3rem !important;
    }

    .hero_title {
        display: flex !important;
        flex-direction: column !important;

        >.title {
            margin-block-end: 2rem !important;
        }

        >.text {
            text-align: center;
            display: none;

        }
    }
}