.swiper_container {
    height: 100vh;
    width: 100%;
    color: white;
    font-size: 3rem;


    .slide_item {
        background-color: black;
        
        height: 80vh;
        width: 100%;
    }

    /* .slide_item:nth-child(1) {
        background-color: black;
        display: flex;
        align-items: center;
        height: 100vh;
        width: 100%;
    }

    .slide_item:nth-child(2) {
        background-color: green;
        display: flex;
        align-items: center;
        height: 100vh;
        width: 100%;
    }

    .slide_item:nth-child(3) {
        background-color: brown;
        display: flex;
        align-items: center;
        height: 100vh;
        width: 100%;
    } */
}

img{
    height: 100vh;
    width: 100%;
    object-fit: cover;

}