.contact_page {
    padding-block-start: 3.125rem;
    padding-block-end: 6rem;
    overflow-x: hidden;

    .contact_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex: 1 0 0;
    }
}

.contact_hero {
    align-items: center;
    backdrop-filter: blur(10px);
    background: linear-gradient(to bottom, black, transparent), 
    url("../../Assets/images/HeroImages/hero-4.jpg");
    background-repeat: no-repeat;
    
    object-fit: cover;
    background-position: center;
    background-attachment: fixed;
    min-width: clamp(100dvw, 100%, 100dvw);
    padding-inline: none;
    padding-block: 3rem;
    text-align: center;

    color: var(--primary-color);

    >h5.subtitle {
        font-variant-caps: small-caps;
        font-size: 1rem;
    }
}

.subtitle {
    padding-block-end: 1rem;
}

.contact_form {
    display: flex;
    flex-direction: column;
    padding-inline: 3rem;
    padding-block: 3rem;
    width: clamp(18.75rem, 50dvw, 50dvw);

    gap: .75rem;

    >*:not(.subtitle){
        border-radius: .25rem;
        background-color: grey;
        color: var(--tertiary-color);
    }

  

    >textarea{
        min-height: 25dvh;
        font-family: Inter;
        padding: .75rem;
        line-height: 1.5rem;
        font-size: 1.2rem;
    }

    .submit{
        border: 2px solid var(--secondary-color);
        background-color: green;
        color: var(--primary-color);
        padding-block: .75rem;

        cursor: pointer;
        font-size: 1.2rem;
        border-radius: .25rem;
        transition: all 500ms ease;
    }

    .submit:hover{
        scale: 1.1;
        transition: all 200ms ease;
    }
}

.contact_map{
    flex: 1;
    display: flex;
    padding: 3rem;
flex-direction: column;

    gap: 1rem;

    .map{
        min-width: clamp(25dvw, 50%, 50dvw);
        border-radius: .25rem;
        box-shadow: 5px 5px 0 var(--secondary-color);
        height: 50dvh;
    }
}