.not_found_page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1 0 0;
    min-height: 100dvh;

    >h1{
        color: crimson;
    }

    >h3>a{
        color: var(--secondary-color);
    }
}