.about_hero {
  height: calc(100dvh - 50px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  .about_content {
    flex: 6;
    padding: 3rem;
    gap: 2rem;
    display: flex;
    flex-direction: column-reverse;

    >.title {
      font-size: 5rem;
      color: var(--secondary-clr-midblue);
      font-weight: 200;
    }

    >.text {
      line-height: 2;
      font-size: 1.2rem;

      >span {
        font-weight: 700;
        color: var(--secondary-clr-midblue);
      }
    }
  }

  .about_image {
    flex: 6;
    padding: 3rem;
    height: 100%;
    background: url("https://images.pexels.com/photos/5439438/pexels-photo-5439438.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-position: right;
    border-radius: .25rem;
  }
}