* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #06c2c8 0%, #000000 100%);
}

/* === calc wrapper === */

#calculator {
  max-width: 31.25rem;
  max-height: 75%;
  padding: 1.25rem;
  border-radius: 1.25rem;
  background: linear-gradient(180deg, #1c1c1c 0%, #000000 100%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#display {
  width: 100%;
  height: 4rem;
  padding: 0.625rem;
  border-radius: 0.2rem;
  background-color: #333333;
  color: #ffffff;
  font-size: 1.5rem;
  text-align: right;
  overflow: hidden;
  border: 1px solid #eeeeee;
}

/* === keys wrapper === */

#keys {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.625rem;
  margin-top: 1.2rem;
}

/* === all keys === */

button {
  border-radius: 50px;
  border: none;
  background: #333333;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.25rem 0;
  cursor: pointer;
  transition: all 0.5s;
}

button:hover {
  background: #ffffff;
  color: #333333;
}

button:active {
  transform: scale(1.125);
  transition: all 0.2s;
}

.operator {
  background: linear-gradient(180deg, #ff9500 0%, #ff5e3a 100%);
  transition: all 0.5s;
}

.operator:hover {
  background: linear-gradient(180deg, #ff5e3a 0%, #ff9500 100%);
}
.operator:active {
  transform: scale(1.125);
  transition: all 0.2s;
}

/* === Clear key === */

.clear {
  background: linear-gradient(180deg, #d1d1d1 0%, #ffffff 100%);
  color: #333333;
  transition: all 0.5s;
}

.clear:hover {
  background: red;
  color: white;
  transform: scale(0.8);
  transition: all 0.2s;
}

.clear:active {
  transform: scale(1.125);
  transition: all 0.2s;
}

.alt-operator {
  background: linear-gradient(180deg, #a6a6a6 0%, #ffffff 100%);
  color: #333333;
  transition: all 0.5s;
}

.alt-operator:hover {
  background: #333333;
  color: #ffffff;
}

/* === Equals key === */

.answer {
  background: linear-gradient(180deg, #a6a6a6 0%, #ffffff 100%);
  color: #333333;
  transition: all 0.2s ease;
}

.answer:hover {
  background: lime;
  color: #333333;
}

.answer:active {
  background-color: limegreen;
  transform: scale(1.125);
  transition: all 0.2s ease;
}

/* === footer === */

footer {
  background: transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0.9rem;
  font-weight: 500;

  position: absolute;
  bottom: 0.5rem;

  p > a {
    text-decoration: none;
    color: white;
    transition: all 500ms ease;
  }

  a:hover {
    color: lime;
    text-decoration: underline;
    transform: translateY(-20px);
    transition: all 200ms ease;
  }
}
