.single_post{
    flex: 9;
}

.single_post_wrapper{
    padding: 1.25rem;
    padding-right: 0;

    >*{
        padding-block-end: 1rem;
    }
}

.single_post_image{
    width: 100%;
    height: 32rem;
    border-radius: .2rem;
    object-fit: cover;
    object-position: center;
}

.single_post_title{
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit_btns{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

    .edit_post{
        color: lime;
        outline: none;
        font-size: 1.5rem;
        font-weight: 500;
        cursor: pointer;
        transition: all 500ms ease;
    }

    .delete_post{
       color: darkred;
        outline: none;
        font-size: 1.5rem;
        font-weight: 500;
        cursor: pointer;
        transition: all 500ms ease;
    }

}

.edit_post:hover, .delete_post:hover{
    scale: 1.1;
    transition: all 200ms ease;
}

.single_post_data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;

    .single_post_author{
        font-style: italic;
        
    }
}

.single_post_text{
    line-height: 1.5rem;
    font-size: 1rem;
}

.single_post_text::first-letter{
    font-size: 2rem;
    margin-inline-start: 1rem;
    font-weight: 600;
}