:root {
  --primary-color: whitesmoke;
  --secondary-color: lime;
  --tertiary-color: #000000;

  --primary-background-color: #1b1b1b;
  --secondary-background-color: #282828;
  --tertiary-background-color: limegreen;

  --primary-border-color: limegreen;
  --secondary-border-color: lime;
  --tertiary-border-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-background-color);
  color: var(--primary-color);

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
}

/* ===== typography ===== */

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

h5 {
  font-size: 1.25rem;
  font-weight: 600;
}

h6 {
  font-size: 1rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

/* ===== utilities ===== */

.wrapper {
  max-width: 1300px;
  margin: 0 6.35rem;
  padding: 3.125rem;
}

/* ===== scrollbar ===== */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lime;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: limegreen;
}

/* ====== keyframes ====== */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ===== animations ===== */

@media (prefers-reduced-motion: no-preference) {
  .spin {
    animation: spin infinite 20s linear;
  }
}

.slideInFromLeft {
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

.slideInFromRight {
  animation: 0.5s ease-out 0s 1 slideInFromRight;
}

.slideInFromTop {
  animation: 0.5s ease-out 0s 1 slideInFromTop;
}

.slideInFromBottom {
  animation: 0.5s ease-out 0s 1 slideInFromBottom;
}

.fadeIn {
  animation: 0.5s ease-out 0s 1 fadeIn;
}
